@model HrevertCRM.Data.ViewModels.User.ResetPasswordViewModel

@{
    ViewBag.Title = "HrevertCRM- Reset Password";
    Layout = "";
}
<link rel="stylesheet" type="text/css" id="theme" href="~/manual/theme/css/theme-default.css" />
<script type="text/javascript" src="~/manual/theme/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/manual/theme/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/manual/theme/js/plugins/bootstrap/bootstrap.min.js"></script>
<div class="login-container lightmode">
    <form asp-controller="Account" asp-action="ResetPassword" class="form-horizontal" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="login-box animated fadeInDown">
            <div class="login-body">
                <div class="login-title"><strong>Reset Password</strong></div>
                <div class="login-title"><div asp-validation-summary="ModelOnly" class="text-danger"></div></div>
                <input type="hidden" asp-for="Code" value="@Context.Request.Query["code"]" />
                <input type="hidden" asp-for="UserId" value="@Context.Request.Query["userId"]" />
                 <div class="form-group">
                    <div class="col-md-12">
                        @*<label>UserId: @Context.Request.Query["userId"]</label>
                        <label>Code: @Context.Request.Query["code"]</label>*@
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Passowrd" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block">Reset</button>
                    </div>
                </div>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2017 Hrevert CRM
                </div>
            </div>
        </div>
    </form>
</div>

